{% extends "base.html" %}

{% block title %}Table {% endblock%}

{% block stylesheets %}
        .table_team {width: 210px}
        .form {width: 15px; height: 15px; float: left; margin: 1px}
        .W {background-color: green}
        .D {background-color: gray}
        .L {background-color: red}        
{% endblock %}

{% block content%}

        <div>
            <img src="/static/images/logos/{{league}}/{{league}}.png" width="100px"/>
        </div>
        
        <div>
            <table>
                <tr>
                    <td class="table_team"></td>
                    <td>GD</td>
                    <td>Pts</td>
                    <td>Form</td>
                </tr>

            {% for row in data %}
                <tr>
                    <td><img src="/static/images/logos/{{league}}/{{row[0]}}.png" width="20px">
                        {{ row[1]["teamname"] }}</td>
                    <td>{{ row[1][scope]["gd"]}}</td>
                    <td>{{ row[1][scope]["points"]}}</td>
                    <td>
                        <div>
                            {% for game in row[1][scope]["form"] %}
                                <div class="form {{ game }}"></div>
                            {% endfor %}
                            
                            <div class="clearfloat"></div>
                        </div>

                    
                    
                    </td>
                </tr>
            {% endfor %}

            </table>
        </div>

{% endblock%}