{% extends "base.html" %}

{% block title %}Table {% endblock%}

{% block javascript %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable({{ dataArray|safe }});

    var options = {
      title: 'League Position',
      curveType: 'function',
      legend: { position: 'bottom' },
      vAxis: { direction: -1, ticks: [1,5,10,15,20] }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

{% endblock %}


{% block content%}

        <div>
            <img src="/static/images/logos/{{league}}/{{league}}.png" width="100px"/>
        </div>
        
        <div>
            <table>
                <tr>
                    <td></td>
                    <td class="table_team"></td>
                    <td>P</td>
                    <td>W</td>
                    <td>D</td>
                    <td>L</td>
                    <td>F</td>
                    <td>A</td>                              
                    <td>GD</td>
                    <td>Pts</td>
                    <td>Form</td>
                </tr>

            {% for row in data %}
                <tr>
                    <td>{{ row[1]["position"] }}</td>
                    <td><img class="table_logo" src="/static/images/logos/{{league}}/{{row[0]}}.png">
                        {{ row[1]["teamname"] }}</td>
                    
                    <td>{{ row[1][scope]["played"]}}</td>
                    <td>{{ row[1][scope]["won"]}}</td>
                    <td>{{ row[1][scope]["drawn"]}}</td>
                    <td>{{ row[1][scope]["lost"]}}</td>
                    <td>{{ row[1][scope]["for"]}}</td> 
                    <td>{{ row[1][scope]["against"]}}</td> 
                    <td>{{ row[1][scope]["gd"]}}</td>
                    <td>{{ row[1][scope]["points"]}}</td>
                    <td>
                        <div>
                            {% for game in row[1][scope]["form"] %}
                                <div class="form {{ game }}"></div>
                            {% endfor %}
                            
                            <div class="clearfloat"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </table>
        </div>

        <div id="curve_chart" style="width: 900px; height: 500px"></div>

{% endblock%}